html {
  font-size: 62.5%;
  text-align: center;
  font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN',
    'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  background: url(./assets/images/bg.jpg) fixed center;
  background-size: cover;
  color: white;
  min-height: 100vh;
  padding: 0 0 4rem;
}
body {
  font-size: 1.6em;
}
a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: white;
  display: inline-block;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 8rem 2rem 4rem;
  filter: drop-shadow(0 0 0.4rem rgb(14, 7, 40));
}
p {
  filter: drop-shadow(0 0 0.2rem rgb(14, 7, 40));
  font-size: 2rem;
  line-height: 220%;
  margin: 0;
  padding: 0 3rem;
  white-space: pre-wrap;
}

.App-logo {
  margin: 10vw 0;
  width: 50%;
  pointer-events: none;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.759));
}

.Button-large {
  width: 40rem;
}
@media (prefers-reduced-motion: no-preference) {
  .Button-large {
    animation: Start-button-scale infinite 0.9s ease-in-out;
  }
}
.Button-large:hover {
  filter: brightness(120%);
}
@keyframes Start-button-scale {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.04, 1.04);
  }
  to {
    transform: scale(1, 1);
  }
}

.Button-medium {
  height: 16rem;
}
.Button-medium:hover {
  filter: brightness(120%);
}

.Graphics-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.Graphic {
  width: 40rem;
  max-width: 90%;
  pointer-events: none;
  padding-bottom: 2rem;
}
.Caution {
  font-weight: bolder;
  margin-top: 4rem;
}
.Name {
  font-weight: bolder;
  font-size: 2.2rem;
  padding-bottom: 3rem;
}
.Name > .Link:hover {
  color: rgb(255, 207, 139);
  filter: drop-shadow(0 0 0.5rem rgba(255, 207, 139, 0.759));
}
.Footer {
  padding-top: 2rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .App-logo {
    width: 78%;
    padding-top: 2rem;
    pointer-events: none;
  }
  .Button-large {
    max-width: 100%;
  }
}
